@import "~bootstrap/scss/bootstrap";

$light-color: #eee;

h1 {
  font-weight: 300;
  padding: 10px 0 0 0;
}

body {
  color: $light-color;
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#editor, #preview {
  width: 100%;
  height: calc(50vh - 95px);
  @media (min-width: 768px) { 
    height: calc(100vh - 160px);
  }

  padding: 10px;
  border-radius: 5px;
  background-color: #29323c;
  border: .5px solid rgba($color: $light-color, $alpha: .7);
  color: $light-color;
}

.reduce {
  height: calc(20vh - 95px)!important;
}

.enlarge {
  height: calc(80vh - 95px)!important;
}

#editor {
  resize: none;
  font-family: 'Courier New', Courier, monospace;
}

#preview {
  
  overflow-y: auto;
}

.box-label {
  float: right;
  padding: 3px;
}

footer {
  margin-top: 15px ;
}

pre code {
  color: #e83e8c;
}


